<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxingfei.dao.UserMapper">



<select id="findUser" parameterType="com.wuxingfei.bean.User" resultType="com.wuxingfei.bean.User">
SELECT * FROM  USER
    WHERE 1=1 and isUse =1
    <if test="userName !=null"   >AND userName = #{userName}</if>
    <if test="password !=null"   >AND password = #{password}</if>
    <if test="id !=null"   >AND id = #{id}</if>
    <if test="age !=null"   >AND age = #{age}</if>

</select>

    <select id="findAllUserList" parameterType="com.wuxingfei.bean.PageBean"  resultType="com.wuxingfei.bean.User">
        SELECT * FROM  USER  WHERE  1=1 AND isUse = 1
        <if test="limit !=null "   >
            <if test="size !=null"   >
                LIMIT ${startRow},${size }
            </if>
        </if>
    </select>
    <select id="countUser"  parameterType="com.wuxingfei.bean.User"  resultType="Long">
        SELECT COUNT(*) FROM  USER  WHERE 1=1 and isUse =1
        <if test="userName !=null"   >AND userName = #{userName}</if>
        <if test="password !=null"   >AND password = #{password}</if>
        <if test="id !=null"   >AND id = #{id}</if>
        <if test="age !=null"   >AND age = #{age}</if>

    </select>
    <insert id="insertUser"  parameterType="com.wuxingfei.bean.User" >
        INSERT INTO  USER  (userName,password,phone) VALUES (#{userName},#{password},#{phone})
    </insert>


</mapper>

